:root {
  letter-spacing: 1px;
  font-family: "Quicksand", sans-serif !important;
  font-optical-sizing: auto;

  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

       font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
    margin: 0;
  padding: 0;
        box-sizing: border-box;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}  
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  f.food-home: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


.main-home{
  display: flex;  
  
}
button{
  font-family: "Quicksand", sans-serif !important;
  cursor: pointer;
  transition: 0.3s;
}
.food-home{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: overlay;

}
.oders-main{
  width: 30%;
}
::-webkit-scrollbar{
  transition: 0.4s !important;
}
.food-home::-webkit-scrollbar{
  width: 5px;
  height: 5px;
}

.food-home::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
  border-radius: 10px;
}
 
/* Handle */
.food-home::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0); 
  border-radius: 10px;
}

/* Handle on hover */
.food-home::-webkit-scrollbar-thumb:hover {
  background: #00000066; 
}




.top-food::-webkit-scrollbar{
  width: 0px;
  height: 5px;
}
.resent-reviews::-webkit-scrollbar{
  width: 0px;
  height: 0px;
}

.resent-reviews::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0); 
  border-radius: 10px;
}
 
/* Handle */
.resent-reviews::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0); 
  border-radius: 10px;
}

/* Handle on hover */
.resent-reviews::-webkit-scrollbar-thumb:hover {
  background: #00000066; 
}


a{
  text-decoration: none;
  color: #000000de;
}
.top-food::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.462); 
  border-radius: 10px;
}
 
/* Handle */
.top-food::-webkit-scrollbar-thumb {
  background: rgba(255, 166, 0, 0.771); 
  border-radius: 10px;
}

/* Handle on hover */
.resent-reviews::-webkit-scrollbar-thumb:hover {
  background: #00000066; 
}
.admin-main{
  margin-left: 185px;
  background: #80808014;
  padding: 14px;
  height: 100vh;

 

  padding-top: 75px;
  overflow: scroll;

}
ul li{
  list-style: none;
}

input:focus-visible{
  outline: none;
}