/* src/Sidebar.css */
.admin-nav .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: fit-content;
    height: 100%;
    background: #fff;
    color: #000000d1;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
.sidebar nav{
    background:transparent;
}
  .sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 50px;
  }
  .admin-profile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

  }
  .sidebar nav ul li {
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .sidebar nav ul li span {
    margin-left: 10px;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  
    .sidebar .toggle-btn {
      left: 200px;
    }
  }
  
  .toggle-btn{
    position: absolute;
    top: 50%;
    display: flex;
    left: 249px;
    border: solid 2px #80808000 !important;
    background: #242424;
  
    color: #ffffffb3;
    cursor: pointer;
    font-size: 20px;
    border-left: none !important;
    padding: 30px 5px 30px 0px;
    align-items: center;
    justify-content: center;
    border-radius: 0px 15px 15px 0px;
  }
  .admin-profile img{
    width: 40px;
    height: 40px;
    object-fit: cover;
  }


  /*topbar*/
  .home-nav{
    padding: 15px 15px 15px 15px;

    margin-left: 65px;

    display: flex;
    justify-content: space-between;
}
.logo h1{
    font-weight: 900;
    color: #7100ffde;
}

.home .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.search input{
    padding: 7px;
    border: solid 1px #0d00ff00;
    border-radius: 50px 0px 0px 50px;
    border-right: 0px;
    background: #5b00ff0f;
    color: #000000b3;
    transition: 0.3s;
    
    
}
.search input:focus-visible {
    
    outline: none;
}
.search .search-icon{
  border: solid 1px #0000ff00;
  border-radius: 0px 25px 25px 0px;
  font-size: 32px;
  padding: 5px;
  background: #5b00ff0f;
    border-left: 0px;

    color: #0000008a;

    transition: 0.3s;
}
.log-reg{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 80px;

}


.reg{
    padding: 8px 12px 8px 12px;
    background: #0200ff47;
    border: solid 1px transparent;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif !important;
    color: #9100ff;
}
.log{
    padding: 8px 12px 8px 12px;
    background: transparent;
    border: solid 1px #0000ff00;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif !important;
    color: #9100ff;
}
.search{
  display: flex;
  
}

ul li p{
    font-size: 14px;
    font-weight: 800;
    margin-left: 13px;
}
.upgrade{
  width: 159px;
  padding: 17px;
  border: solid 1px transparent;
  margin: 8px;
  border-radius: 12px;
  font-size: 15px;
  background: #ffa500d1;
  font-weight: 600;
  color: white;
}
.upgrade button{
  padding: 3px 11px 3px 11px;
  background: white;
  border: solid 1px transparent;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
}
ul li {
  opacity: 70%;
}