.home{
    margin-left: 66px;
 
 
}

.home-ads{
    width: 98%;
    height: 45vh;
    margin: 15px;
}
.home-ads img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    border: solid 1px #8b00ff6b;
}