.home{
    margin-left: 66px;
}
.home-nav{
    padding: 15px 15px 15px 15px;


    display: flex;
    justify-content: space-between;
}
.logo h1{
    font-weight: 900;
    color: #7100ffde;
}

.home .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.search input{
    padding: 7px;
    border: solid 1px #0d00ff8c;
    border-radius: 50px 0px 0px 50px;
    border-right: 0px;
    background: #80808000;
    color: #000000b3;
    transition: 0.3s;
    
    
}
.search input:focus-visible {
    
    outline: none;
}
.search .search-icon{
    border: solid 1px #0000ffa3;

    border-radius: 0px 25px 25px 0px;
    font-size: 32px;
    padding: 5px;
    background: transparent;
    border-left: 0px;

    transition: 0.3s;
}
.log-reg{
    display: flex;
    gap: 15px;
    align-items: center;
    margin-right: 80px;

}


.reg{
    padding: 8px 12px 8px 12px;
    background: #0200ff47;
    border: solid 1px transparent;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif !important;
    color: #9100ff;
}
.log{
    padding: 8px 12px 8px 12px;
    background: transparent;
    border: solid 1px #0000ff00;
    border-radius: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: "Quicksand", sans-serif !important;
    color: #9100ff;
}